<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>Simple Form</h1>
    <form action="/response" method="GET">
    <!-- form 的 action 屬性規範了表單要向哪裡提交，也代表了按下submit之後，
        網址會變成： http://localhost:3000/response?fullname=&age=-->
        <label for="fullname">Name:</label>
        <input type="text" name="fullname" id="fullname">
        <label for="age">Age:</label>
        <input type="number" name="age" id="age">
        <button type="submit">submit</button>
    </form>

</body>
</html>